* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.active {
  display: inline !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image-slideshow {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.image-frame {
  width: 500px;
  height: 500px;
  border: 20px solid #999;
  background: #ddd;
  overflow: hidden;
}

.image {
  width: 460px;
  height: 460px;
  /* position: absolute; */
  display: none;
}

.previous-image,
.next-image {
  font-size: 5rem;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
}

.previous-image {
  transform: scale(-1);
}
