* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.active {
  display: inline !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.image-slideshow {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.image-frame {
  width: 500px;
  height: 500px;
  border: 20px solid #999;
}

.image {
  width: 460px;
  height: 460px;
  display: none;
}

.arrow {
  font-size: 5rem;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
  user-select: none;
}

.image-bubbles {
  display: flex;
  gap: 20px;
}

.image-bubble {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.previous-image {
  transform: scale(-1);
}
